{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medida</title>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    
<!-- Modal -->
<div class="modal fade" id="modalMedida" tabindex="-1" role="dialog" aria-labelledby="modalMedidaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMedidaLabel">Adicionar Medida</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'fazercircuferencia' paciente.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <p>Paciente: {{ paciente.nome }}</p>
                        <label for="pescoco">Pescoço</label>
                        <input type="number" step="0.01" class="form-control" id="pescoco" name="pescoco" required>
                    </div>
                    <div class="form-group">
                        <label for="ombro">Ombro</label>
                        <input type="number" step="0.01" class="form-control" id="ombro" name="ombro" required>
                    </div>
                    <div class="form-group">
                        <label for="torax">Torax</label>
                        <input type="number" step="0.01" class="form-control" id="torax" name="torax" required>
                    </div>
                    <div class="form-group">
                        <label for="bracodireito">Braço Direito</label>
                        <input type="number" step="0.01" class="form-control" id="bracodireito" name="bracodireito" required>
                    </div>
                    <div class="form-group">
                        <label for="bracoesquerdo">Braço Esquerdo</label>
                        <input type="number" step="0.01" class="form-control" id="bracoesquerdo" name="bracoesquerdo" required>
                    </div>
                    <div class="form-group">
                        <label for="bracodireitocontraido">Braço Direito Contraido</label>
                        <input type="number" step="0.01" class="form-control" id="bracodireitocontraido" name="bracodireitocontraido" required>
                    </div>
                    <div class="form-group">
                        <label for="bracoesquerdocontraido">Braço Esquerdo Contraido</label>
                        <input type="number" step="0.01" class="form-control" id="bracoesquerdocontraido" name="bracoesquerdocontraido" required>
                    </div>
                    <div class="form-group">
                        <label for="antebracodireito">Antebraço Direito</label>
                        <input type="number" step="0.01" class="form-control" id="antebracodireito" name="antebracodireito" required>
                    </div>
                    <div class="form-group">
                        <label for="antebracoesquerdo">Antebraço Esquerdo</label>
                        <input type="number" step="0.01" class="form-control" id="antebracoesquerdo" name="antebracoesquerdo" required>
                    </div>
                    <div class="form-group">
                        <label for="cintura">Cintura</label>
                        <input type="number" step="0.01" class="form-control" id="cintura" name="cintura" required>
                    </div>
                    <div class="form-group">
                        <label for="abdome">Abdome</label>
                        <input type="number" step="0.01" class="form-control" id="abdome" name="abdome" required>
                    </div>
                    <div class="form-group">
                        <label for="quadril">Quadril</label>
                        <input type="number" step="0.01" class="form-control" id="quadril" name="quadril" required>
                    </div>
                    <div class="form-group">
                        <label for="coxadistaldireita">Coxa Distal Direita</label>
                        <input type="number" step="0.01" class="form-control" id="coxadistaldireita" name="coxadistaldireita" required>
                    </div>
                    <div class="form-group">
                        <label for="coxadistalesquerda">Coxa Distal Esquerda</label>
                        <input type="number" step="0.01" class="form-control" id="coxadistalesquerda" name="coxadistalesquerda" required>
                    </div>
                    <div class="form-group">
                        <label for="coxamedialdireita">Coxa Medial Direita</label>
                        <input type="number" step="0.01" class="form-control" id="coxamedialdireita" name="coxamedialdireita" required>
                    </div>
                    <div class="form-group">
                        <label for="coxamedialesquerda">Coxa Medial Esquerda</label>
                        <input type="number" step="0.01" class="form-control" id="coxamedialesquerda" name="coxamedialesquerda" required>
                    </div>
                    <div class="form-group">
                        <label for="coxaproximaldireita">Coxa Proximal Direita</label>
                        <input type="number" step="0.01" class="form-control" id="coxaproximaldireita" name="coxaproximaldireita" required>
                    </div>
                    <div class="form-group">
                        <label for="coxaproximalesquerda">Coxa Proximal Esquerda</label>
                        <input type="number" step="0.01" class="form-control" id="coxaproximalesquerda" name="coxaproximalesquerda" required>
                    </div>
                    <div class="form-group">
                        <label for="panturrilhadireita">Panturrilha Direita</label>
                        <input type="number" step="0.01" class="form-control" id="panturrilhadireita" name="panturrilhadireita" required>
                    </div>
                    <div class="form-group">
                        <label for="panturrilhaesquerda">Panturrilha Esquerda</label>
                        <input type="number" step="0.01" class="form-control" id="panturrilhaesquerda" name="panturrilhaesquerda" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>